#menu {
  width: 600px;
  height: 400px;
  background-color: white;
  border: 4px solid black;
  border-radius: 2rem;
  padding: 1rem;
  position: fixed;
  left: calc(50% - 300px);
  top: calc(50% - 200px);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#start-button {
  font-size: 3rem;
  padding: 1rem 2rem;
}

.options {
  display: flex;
  flex-direction: column;
}
