:root {
  --video-size: 2160px;
  --background-color: rgb(250, 236, 224);
  --action-color: rgb(167, 188, 168);
  --choice-background-color: #dbb99d;
}

/* General app styles */

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: "Space Grotesk";
}

body {
  margin: 0;
}

#app {
  width: var(--video-size);
  height: var(--video-size);
  position: relative;
  overflow: hidden;
}

video {
  position: absolute;
  /* Cut of the video's extra trim (we can get rid of this if we get a square) */
  --video-width: 3840px;
  left: calc(50% - var(--video-width) / 2);
}

#lang-switcher {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 3rem;
  padding: 1rem 2rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
}

/* Situation prompt screen */

.situation-prompt {
  position: absolute;
  left: 787px;
  top: 1614px;
  margin: 0;
  max-width: 350px;

  text-transform: uppercase;
  color: rgb(250, 236, 224);
  font-size: 60px;
  line-height: 72px;
}

.arrow-choose-scenario {
  position: absolute;
  left: 1150px;
  top: 1625px;
  width: 200px;
}

button.scenario-button {
  background-color: rgb(255, 197, 182);
}

/* Report screen */

.report-container {
  position: absolute;
  width: 700px;
  height: 350px;
  top: 1360px;
  left: 750px;

  background-color: var(--background-color);
  border-radius: 50px;
  padding-inline: 50px;
}

.report {
  height: calc(100% - 60px);
  border-block: 2px solid black;
  margin-block: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.report h1 {
  font-weight: bold;
  font-size: 45px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.report p {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

.arrow-next {
  position: absolute;
  left: 950px;
  top: 1700px;
  width: 250px;
}

/* Choose a policy */

.choose-policy {
  position: absolute;
  left: 840px;
  top: 1700px;
  background-color: var(--action-color);
  padding-inline: 50px;
  padding-block: 25px;
  border-radius: 9999px;

  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

button.choice-button {
  min-height: 100px;
  height: auto;

  padding-block: 20px;
  padding-right: 2rem;
  border-radius: 20px;
  border: none;

  font-size: 20px;
  text-align: left;
  font-weight: normal;
}

button.choice-button h2 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

/* Conclusion screen */

.conclusion {
  position: absolute;
  left: 750px;
  top: 1375px;
  width: 700px;
  height: 435px;

  background-color: var(--background-color);
  padding-block: 20px;
  padding-inline: 50px;
  border-radius: 50px;
}

.conclusion .header {
  display: flex;
  gap: 20px;
  font-weight: bold;
  font-size: 20px;
}

.conclusion img {
  width: 100px;
}

.conclusion p {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

.arrow-restart {
  position: absolute;
  width: 125px;
  bottom: 30px;
  left: 825px;
}
